@font-face {font-family: 'Cormorant Infant'; font-display: swap; src: local('CormorantInfant'), url('./fonts/CormorantInfant-Regular.ttf');}
@font-face {font-family: 'SFProText'; font-display: swap; src: local('SFProText'), url('./fonts/SFProText-Regular.ttf');}
@font-face {font-family: 'Inter'; font-display: swap; src: local('Inter'), url('./fonts/Inter-Regular.ttf');}

body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline; 
    background: url('./img/bgD.jpg')  no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 

    height: 100%; 
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.mobile_hide {
    display: block;
}

.desktop_hide {
    min-height: 0;
    max-height: 0;
    max-width: 0;
    display: none !important;
    overflow: hidden;
    font-size: 0;
}

header .fullWidth {
    display: flex;
    margin: auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
}

main .fullWidth {
    margin: auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}

.alignCenter {
    text-align: center;
}

h1 {
    font-size: 0;
    line-height: 0;
    color: transparent;
}

header {
    padding: 12px 0;
}

main .text {
    margin-top: 20vh;
    max-width: 620px; 
}

main .screens {
    margin-top: 10vh; 
}

.text .title {
    font-family: 'Cormorant Infant', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 68px; 

    background: linear-gradient(90.9deg, rgba(5, 129, 129, 0.2) 13.02%, rgba(75, 215, 89, 0) 97.75%), linear-gradient(90deg, #002E4D 0%, #010683 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}

.text .desc {
    margin-top: 28px;
    font-family: 'SFProText', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2E3A51;
    max-width: 540px;
}

.text .stores {
    margin-top: 49px;
}

footer {  
    bottom:0;
    width:100%;
    padding-top: 50px;
    padding-bottom: 18px;  
}

footer span {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px; 

    text-align: center; 

    color: #6A717C;

}

footer .privacy {
    margin-left: 32px;
}

.privacy a {
    color: #6A717C;
    text-decoration: underline;
}

.button {
    background: linear-gradient(93.46deg, #01BDCF 11.36%, #0D79F5 110.77%);
    box-shadow: 0px 0px 12px 0px #00000026;
    border-radius: 4px;

}

.button span {
    padding: 5px 20px;
    display: inline-block;
    color: #FFFFFF;
    font-size: 17px;
    line-height: 22px;
}

.stores > span {
    display: inline-block;
}

.stores .android {
    padding-left: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 15px;
}

.download {
    background: linear-gradient(0deg, #0058B6, #0058B6),
    linear-gradient(98.88deg, rgba(139, 227, 255, 0) 5.8%, rgba(81, 162, 255, 0.7) 100%);
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 600;
    font-size: 28px;
    line-height: 33px;
    font-family: 'SF Pro Display', sans-serif;
}

.imgs {
    display: flex;
    gap: 110px;
    padding: 82px 115px 213px;
}

.imgs img {
    max-width: 100%;
}

.QRCode {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.imgs > div > div > div {
    font-family: SF Pro Text, sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0px;
    text-align: center;
    background: linear-gradient(90deg, #002E4D 0%, #010683 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.imgs > div {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    radial-gradient(50% 50% at 50% 50%, rgba(161, 126, 236, 0.1) 0%, rgba(214, 126, 236, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
    border: 0.5px solid #0000001A;
    box-shadow: 4px 4px 24px 0px #9FE8FF40;
    border-radius: 44px;
    padding: 55px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content:flex-start;
    height: 100%;
    gap: 70px;
}

.phone {
    justify-content: space-between;
    gap: 50px;
}

@media (max-width: 1200px) {
    main .text { 
        max-width: 54%;
        margin-top: 15vh;
    }
    main .screens { 
        max-width: 46%; 
    }
} 

@media (max-width: 960px) { 
    main .text { 
        max-width: 100%;
        margin-top: 15vh;
    }
    main .screens { 
        max-width: 100%; 
        float: left;
    }
} 

@media (max-width: 620px) { 
    body {
        background-image: url('./img/bgM.jpg'); 
    }
    .mobile_hide {
        min-height: 0;
        max-height: 0;
        max-width: 0;
        display: none !important;
        overflow: hidden;
        font-size: 0;
    }
    .desktop_hide {
        display: block !important; 
    }
    main .text {
        margin-top: 40px;
    }
    .text .title {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
    }
    .text .desc {
        font-size: 16px;
        line-height: 19px;
    }
    .text .stores {
        margin-top: 32px;
    }
    main .screens {
        margin-top: 66px;
    }
    .clearFloat {
        float: none;
    }
    img {
        display: block;
    }
    .stores {
        text-align: center;
        display: flex;
        justify-content: space-between;
    }
    .button {
        display: none;
        font-size: 0;
        max-width: 0;
    }
    .phone {
        display: none;
    }

    .imgs {
        flex-direction: column;
        padding: 20px 10px;
        gap: 12px;
    }

    .QRCode {
        gap: 30px 20px;
        align-items: center;
    }

    footer {
        position: static;
    }
}